:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* color library */

  --main-color        : #f26c22;
  --ligth-main-color  : #fab01b;
  --black             : #000000;
  --white             : #ffffff;
  --gray              : #777777;
  --middle-gray       : #cccccc;
  --ligth-gray        : #eeeeee;
  --dark-gray         : #222222;
  --trans             : #00000000;
  --trans-2           : #00000026;
  --cyan              : #1dd5f5;
  --magenta           : magenta;
  --yellow            : #ffc609;
  
}

body{
  margin: 0;
  padding: 0;
  background: url(../public/images/bkg.png) fixed;
}

h3{
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

h2{
  font-size: 3rem;
  margin: 0;
  padding: 0;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



h2::after {
  content: "---";
  color: var(--trans);
  border-top:3px solid var(--main-color);
}

h6{
  font-size: 1.5rem;
  margin: 0;
}

p {
  font-size: 1rem;
}

button{
  background: var(--main-color);
  padding: 5px 20px;
  color: var(--white);
  border: var(--ligth-main-color) 3px solid;
  cursor: pointer;
  transition: .5s;
  border-radius: 4px;
}

button:hover{
  transform: scale(1.2);
  border: var(--main-color) 3px solid;
  transition: .5s;

}

.row{
  display: flex;
  flex-direction: row;
}

.col{
  display: flex;
  flex-direction: column;
}

/* estilos MVP */

.mvp {
  margin: 7px 10%;
  padding: 10px;
  background: #fff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mvp p {
  padding: 10px 20px;
  text-align: center;
  font-size: 1.5rem;
  border: rgb(69, 130, 150) 1px solid;
  border-left: rgb(69, 130, 150) 10px solid;
  background: lightblue;
}